<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xml:lang="en" lang="en">
    <h:body>
        <ui:composition template="/layout.xhtml">
            <ui:define name="content">

                <p:growl id="msgs" showDetail="false" />
                <h:form>
                    <p:panel widgetVar="Wpanel" header="Reserva de la pelicula #{reservasController.selectedPeli.titulo}" >
                        <p:panelGrid columns="1" cellpadding="5" style="border: 0px; min-width: 300px">
                            <p:selectOneListbox value="#{reservasController.selectedSede}"
                                                converter="video_manolo.converter.sede" var="selSede"
                                                style="min-width: 250px" required="true"
                                                requiredMessage="Debe seleccionar la sede">
                                <f:selectItems value="#{sedesController.listAll}" var="sede"
                                               itemLabel="#{sede.nombre} (#{sede.ubicacion})"
                                               itemValue="#{sede}" />
                            </p:selectOneListbox>
                            <p:calendar id="calendar" value="#{reservasController.selectedDate}"
                                        pattern="dd/MM/yyyy HH:mm:ss"
                                        required="true" requiredMessage="Debe seleccionar la feccha y hora">
                            </p:calendar>
                        </p:panelGrid>
                        <p:watermark value="Seleccione le fecha para reserva" for="calendar"/>
                        <f:facet name="footer">
                            <p:commandButton action="#{reservasController.nueva(request.remoteUser)}"
                                 ajax="false" value="Reservar" />
                        </f:facet>
                    </p:panel>
                </h:form>

            </ui:define>
        </ui:composition>
    </h:body>
</html>