<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xml:lang="en" lang="en">
    <h:body>
        <ui:composition template="/layout.xhtml">
            <ui:define name="content">
                <h:form>
                    <h:panelGrid columns="2">
                        <h:outputText value="Usuario:"/>
                        <p:inputText value="#{usuarioController.nuevoUsuario.usuario}" />
                        <h:outputText value="Contrasenia:"/>
                        <p:password value="#{usuarioController.nuevoUsuario.contrasenia}" />
                        <h:outputText value="Nombre:"/>
                        <p:inputText value="#{usuarioController.nuevoUsuario.nombre}" />
                        <h:outputText value="Apellido:"/>
                        <p:inputText value="#{usuarioController.nuevoUsuario.apellido}" />
                        <h:outputText value="Rut:"/>
                        <p:inputText value="#{usuarioController.nuevoUsuario.rut}" />
                        <h:outputText value="Dirección:"/>
                        <p:inputText value="#{usuarioController.nuevoUsuario.direccion}" />
                        <h:outputText value="Telefono:"/>
                        <p:inputText value="#{usuarioController.nuevoUsuario.telefono}" />
                    </h:panelGrid>
                    <p:commandButton action="#{usuarioController.nueva}" value="Guardar" />
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
