<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>SedeEntity List</title>
</head>
<body>
<f:view>
    <h1>SedeEntity List</h1>
    <h:form>
        <h:commandButton action="#{sedeEntity.startCreate}" value="Create"/>

        <h:dataTable value='#{sedeEntity.allEntities}' var='item' border="1" cellpadding="2" cellspacing="0">
            <h:column>
                <f:facet name="header">
                    <h:outputText value="id"/>
                </f:facet>
                <h:outputText value="#{item.id}"/>
            </h:column>
            <h:column>
                <f:facet name="header">
                    <h:outputText value="nombre"/>
                </f:facet>
                <h:outputText value="#{item.nombre}"/>
            </h:column>
            <h:column>
                <f:facet name="header">
                    <h:outputText value="ubicacion"/>
                </f:facet>
                <h:outputText value="#{item.ubicacion}"/>
            </h:column>
            <h:column>
                <h:commandButton value="View" action="#{sedeEntity.startView}">
                    <f:param name="id" value="#{item.id}"/>
                </h:commandButton>&nbsp;
                <h:commandButton value="Edit" action="#{sedeEntity.startEdit}">
                    <f:param name="id" value="#{item.id}"/>
                </h:commandButton>&nbsp;
                <h:commandButton value="Delete" action="#{sedeEntity.delete}">
                    <f:param name="id" value="#{item.id}"/>
                </h:commandButton>
            </h:column>
        </h:dataTable>
    </h:form>
</f:view>
</body>
</html>
