<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

    <h:body>

        <ui:composition template="/layout.xhtml">

            <ui:define name="content">
                <p:growl id="msgs" showDetail="false" />
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Listado de peliculas</h1>
                    </div>
                </div>
                <h:form>
                    <c:forEach items="#{peliculaController.listAll}" var="peli">
                        <!-- Project One -->
                        <div class="row">
                            <div class="col-md-7">
                                <a href="#">
                                    <p:graphicImage value="#{peli.imagenUrl}" style="max-height: 150px; max-width: 300px"/>
                                </a>
                            </div>
                            <div class="col-md-5">
                                <h3>#{peli.titulo}</h3>
                                <h4>#{peli.anio}</h4>
                                <p>#{peli.descripcion}</p>
                                <!--a class="btn btn-primary" href="#">View Project <span class="glyphicon glyphicon-chevron-right"></span></a-->
                                <p:commandButton value="Reservar" ajax="false"
                                                 action="#{reservasController.prepararNueva(peli)}"/>
                            </div>
                        </div>
                        <!-- /.row -->
                    </c:forEach>
                </h:form>
            </ui:define>

        </ui:composition>

    </h:body>
</html>
