<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        xmlns:p="http://primefaces.org/ui"
        xmlns:c="http://java.sun.com/jsp/jstl/core"
        >

    <h:head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content="Video manolo"/>
        <meta name="author" content="Germán Rosales"/>
        <title>Video tienda Manolo</title>

        <h:outputScript value="https://code.jquery.com/jquery-1.11.1.min.js" />
        <h:outputScript value="https://code.jquery.com/ui/1.11.0/jquery-ui.min.js" />
        <h:outputScript value="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" />
        <h:outputStylesheet value="https://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css" />
        <h:outputStylesheet value="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
        <h:outputStylesheet value="media/css/1-col-portfolio.css" />

    </h:head>

    <h:body>

        <div id="page">

            <div id="header">
                <ui:insert name="header" >
                    <h:form>
                        <p:menubar>
                            <p:menuitem value="Pelis" action="/index?faces-redirect=true" />
                            <p:menuitem value="Registrese" action="usuario/new?faces-redirect=true"
                                        rendered="#{empty request.remoteUser}" />
                            <p:menuitem value="Ingrese" action="usuario/view?faces-redirect=true"
                                        rendered="#{empty request.remoteUser}"/>
                            <p:menuitem value="Salir" action="#{sessionController.salir}"
                                        rendered="#{!empty request.remoteUser}" />
                        </p:menubar>
                        <h:outputText value="Su usuario #{request.remoteUser}" />
                    </h:form>
                </ui:insert>
            </div>

            <div id="content" class="container">
                <ui:insert name="content" >

                </ui:insert>
            </div>

            <div id="footer">
                <ui:insert name="footer" >
                    <h:outputText value="Su video tienda manolo 2014" />
                </ui:insert>
            </div>

        </div>

    </h:body>
</html>